.videoDetail {
    height: 100%;
    display: flex;
    margin-top: 15px;
    width: 100% ;
    padding: 0 12px;
    gap: 20px;

    &__left {
        
        &__info {
            color: white;
            margin-top: 10px;

            h1 {
                font-size: 20px;
                line-height: 24px;
            }

            span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 15px 0;

                .likeDisLike {
                    gap: 15px;

                    svg {
                        font-size: 22px;
                        transition: .4s;
                        cursor: pointer;

                        &:hover {
                            transition: .4s;
                            transform: scale(1.065);
                        }
                    }
                }

                .scrbBtn {
                    background-color: red;
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    cursor: pointer;
                    transition: .4s;
                    display: flex;
                    align-items: center;
                    color: white;

                    svg {
                        margin-right: 5px;
                        font-size: 18px;
                    }

                    &:hover {
                        box-shadow: 0 0 10px #f81313;
                        transition: .4s;
                    }
                }
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: unset !important;
                padding-top: 10px;
                border-top: 1px solid #575757;
                line-height: 18px;
                font-size: 14px;
            }
        }
    }

    &__right {
        display: flex;
        flex-wrap: wrap;

        // width: 100%;
        .list {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .videoCard {
                display: block;
                width: 380px;

                img {
                    max-height: 210px;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .videoDetail {
        width: 100%;

        iframe {
            width: 100% !important;
        }

        &__left {
            width: 100% !important;
        }

        &__right {
            width: 50%;
        }

        .list {
            width: 100%;
        }
    }
}

@media(max-width: 992px) {
    .videoDetail {
        display: flex;
        flex-wrap: wrap;
        width: 97%;
        iframe {
            width: 100% !important;
            height: 100% !important;
        }
        &__right {
            width: 100%;
            .list {
                .videoCard {
                    width: 49%;
                }
            }

            .list {
                width: 100%;
            }
        }
    }
}

@media(max-width: 544px) {
    .videoDetail {
        display: flex;
        flex-wrap: wrap;
        padding: unset;
        &__right {
            width: 100%;

            .list {
                .videoCard {
                    width: 100%;
                    &__top{
                        img{
                            height: unset;
                        }
                    }
                }
            }

            .list {
                width: 100%;
            }
        }
    }
}